<link rel='stylesheet' type='text/css' href='css/postCreate.css' />

<div id="postCreateForm"> 
	<h1>Create new post</h1>

<div id="postTitleArea>">
	Title:
	<br/>
	<input type="text" id="postTitle" />
</div>

<div id="postBodyArea>">
	Body:
	<br/>
	<textarea id="postBody" rows="15" > </textarea>	
</div>
<div id="postAuthorMailArea>">
	Author Mail:
	<br/>
	<input type="text" id="authorsMail" />
</div>

<input type="button" id="btnSave" value="Save new post"/>

</div>
