<link rel='stylesheet' type='text/css' href='css/postsList.css' />
<ul>
	<% for(var i=0; i
	<postDetails.length; i++) {%>
		<li>
			<a href="#view/<%= postDetails[i]["id"] %>"><%= postDetails[i]["title"] %></a>
		</li>
		<% } %>
</ul>